[submodule "Foundry/Advanced/Defi Stablecoin/lib/forge-std"]
	path = Foundry/Advanced/Defi Stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Advanced/Defi Stablecoin/lib/openzeppelin-contracts"]
	path = Foundry/Advanced/Defi Stablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Foundry/Advanced/Defi-Stablecoin/lib/chainlink-brownie-contracts"]
	path = Foundry/Advanced/Defi-Stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
